<a href="https://colab.research.google.com/github/HazielMaldonado/CompyProg2022G1157/blob/main/Fundamentos2_CyP_1157_9_Oct_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tipos de datos estructurados de pyton

1. Listas
2. Duplas
3. Tuplas
4. Conjuntos (opcional)

# Listas
- Tipo de dato que agrupa variables o valores.
- Estructura secuencial (indexados empezando por 0)
- Se declara de dos formas#
     - usando [  ]
     - usando list ()
- Puede contener tipo de dato diversos (En otros lenguajes de programacion no es posible de forma directa)
- Los elementos internos se seleccionan con [ ]
- Soporta slicing
- SON MUTABLES
- GENERADORES [] va por x in range
- Al ser una clase contiene muchos métodos útiles

In [ ]:
numeros = [10, 5, 2, 3, 1 ]
print(numeros)

numeros2 = list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)
print(numeros2)
numeros[2] = 20
print (numeros)
numeros[4] = 33
numeros.append(88)
print (numeros)

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]
[10, 5, 20, 3, 1]
[10, 5, 20, 3, 33, 88]

In [ ]:
#tipos diversos 

cosas = [12, 2, True, "Jose", 1.57 , ["pera" ,"kiwi" , "uva"]]
print(cosas)
print(cosas[1])
print(cosas[4])
print(cosas[5])
print(cosas[3][1:2:])
cosas [3] = cosas[3].upper()
print (cosas)

[12, 2, True, 'Jose', 1.57, ['pera', 'kiwi', 'uva']]
2
1.57
['pera', 'kiwi', 'uva']
o
[12, 2, True, 'JOSE', 1.57, ['pera', 'kiwi', 'uva']]

In [ ]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
print(numeros)
print(numeros[3:8:])
#2: [9,10]
print(numeros[8:10:])
#3:- imprimir la lista en orden inverso [11,10,9,8,...]
print(numeros[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# crear una lista con un generador 
numeros = [ x for x in range(101)] 
print(numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

#Funcion range(()
tiene los mismos componentes que slicing
ini, stop, incrementio
range (1,101,1)

In [ ]:
numeros = [ x for x in range(50,101,5)] 
print(numeros)

[50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

# metodos disponibles de las listas

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
numeros = [4,1,15,8,22,34,50,15]
print (numeros)
numeros.append(99)
print (numeros)
#numeros.clear()
#numeros = []
print(numeros)

frutas = ["uvas", "kiwi" , "manzana"] 
copia = frutas
print(frutas)
print(copia)
frutas.append("naranja")
print(frutas)
print(copia)

colores = ["rojo" , "azul", "blanco"]
copia2 = colores.copy()
print(colores)
print(copia2)
colores.append("verde")
print(colores)
print(copia2)

print("Numero de veces que aparece el 15:", numeros.count(15))

# extend
nombres =["Jose", "Pedro", "Karina"]

otrosNombres = ["Josue", "Diana", "Dalia"]

print(nombres)
print(otrosNombres)
nombres = nombres + otrosNombres
print(nombres)
print(otrosNombres)

#lo mismo con el metodo extend
otrosNombres.extend(["Jesus", "Maria", "Jose"])
print(otrosNombres)
print("Jesus esta en la posicion;" , otrosNombres.index("Jesus"))
otrosNombres.insert(4,"Espiritu santo")
print(otrosNombres)

#pop
resultado = otrosNombres.pop()
print(otrosNombres)
print(resultado)

[4, 1, 15, 8, 22, 34, 50, 15]
[4, 1, 15, 8, 22, 34, 50, 15, 99]
[4, 1, 15, 8, 22, 34, 50, 15, 99]
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana', 'naranja']
['uvas', 'kiwi', 'manzana', 'naranja']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco', 'verde']
['rojo', 'azul', 'blanco']
Numero de veces que aparece el 15: 2
['Jose', 'Pedro', 'Karina']
['Josue', 'Diana', 'Dalia']
['Jose', 'Pedro', 'Karina', 'Josue', 'Diana', 'Dalia']
['Josue', 'Diana', 'Dalia']
['Josue', 'Diana', 'Dalia', 'Jesus', 'Maria', 'Jose']
Jesus esta en la posicion; 3
['Josue', 'Diana', 'Dalia', 'Jesus', 'Espiritu santo', 'Maria', 'Jose']
['Josue', 'Diana', 'Dalia', 'Jesus', 'Espiritu santo', 'Maria']
Jose

# Tuplas

### Características de las tuplas
- Datos agrupados
- Se declara usando #
 - ()
 - usando tuple ()
- Estructura secuencial, indexada a partir de 0 
- Pueden tener de 0 a n elementos
- NO SON MUTABLES ( No se puede: eliminar y/o cambiar)
- Son buenas para almacenar informacioón de consulta.
- Pueden alamcenar info. de diferentes tipos de dato.
- Pueden estar anidadas.
- Tienen metodos útiles.

In [38]:
info = ("juan23","dios1234","123.232.1.12" )
print( info )
print(info [1])

numeros = (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print (numeros)
print(numeros [5:11:])

cosas = (info, numeros )
print(cosas)
print(cosas[1][5:11])
print(cosas[0][2][4:7:])

('juan23', 'dios1234', '123.232.1.12')
dios1234
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(5, 6, 7, 8, 9, 10)
(('juan23', 'dios1234', '123.232.1.12'), (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
(5, 6, 7, 8, 9, 10)
232

# Métodos de las tuplas
Son los mismos de las listas pero los que no involucran mutabilidad

In [39]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# Diccionarios
### Características de los diccionarios

- Agrupan datos pero de forma no lineal.
- Se declara con :
  -{ }
  - dict(()
- Formado por pares del tipo llave:valor , donde:
  - llave es de tipo string (Siempre)
  - Valor puede ser de cualquier tipo de datos, incluyendo los diccionarios.
- Se seleccionan con la llave de la forma: ["id_llave"]
- Son mutables
- Son anidables
- Son equivalentes al tipo de dato JSON del lenguaje JavaScript (JS)

In [60]:
alumno = { "nombre" : "José" }
print(alumno)
print (alumno["nombre"])
alumno = { "nombre": "José", "nc" : "2129229292", "edad": 18 }
print("Edad del alumno =" , alumno ["edad"])
print (alumno["nombre"].upper())

print("Alumno 2:")
alumno2 = dict() # { }
alumno2["nombre"] = "Jose"
print(alumno2)
alumno2["nc"] ="2129229292"
alumno2["edad"] = 18
print(alumno2)
alumno2["edad"] = alumno2["edad"] + 1
print(alumno2)

{'nombre': 'José'}
José
Edad del alumno = 18
JOSÉ
Alumno 2:
{'nombre': 'Jose'}
{'nombre': 'Jose', 'nc': '2129229292', 'edad': 18}
{'nombre': 'Jose', 'nc': '2129229292', 'edad': 19}

In [85]:
cliente = { "id" : "CT2121" ,   
            "nombre" : "José Pedroza Rosales" , 
            "telefonos" : "casa=554456565 cel=0445567767"}
          
print(cliente)
cliente = { "id" : "CT2121" ,   
            "nombre" : {
                "nombres" : ["José", "Eduardo"],
                "paterno" : "Pedroza",
                "materno" : "Rosales"
            } , 
            "telefonos" : {
                "casa" : "5566324234" ,
                "trabajo" : "554433232" ,
                "celular" : "04455234234"
                
            } ,
           "productos" : {
               "ahorro" :{"numero_cuenta" : "7788" , "ahorro" : 2500.5 } ,
               "tarjetas" : [
                              {"tipo" : "debito" , "saldo" : 10000.5 },
                              {"tipo" : "credito preferente" , "limite" : 250000.5},
                              {"tipo" : "lite" , "limite" : 15000.5 }, 
                              
                ]
           } , 
           "direccion" :{
                       "calle" : "Av. central" ,
                       "numero" : 1245 ,
                       "colonia" : "impulsora", 
                       "delegacion" : "neza" , 
                       "Estado" : {
                           "clave" : 15, 
                           "nombre_corto" : "EdoMex",
                           "nombre" : "Estado de México"
                       }
           }
           }
print(cliente ["telefonos"] ["casa"] )
print(cliente)
print(cliente["productos"]["ahorro"]["ahorro"])
print(cliente["productos"]["tarjetas"][2]["limite"])
print(cliente["direccion"]["Estado"]["nombre"].upper())

{'id': 'CT2121', 'nombre': 'José Pedroza Rosales', 'telefonos': 'casa=554456565 cel=0445567767'}
5566324234
{'id': 'CT2121', 'nombre': {'nombres': ['José', 'Eduardo'], 'paterno': 'Pedroza', 'materno': 'Rosales'}, 'telefonos': {'casa': '5566324234', 'trabajo': '554433232', 'celular': '04455234234'}, 'productos': {'ahorro': {'numero_cuenta': '7788', 'ahorro': 2500.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}]}, 'direccion': {'calle': 'Av. central', 'numero': 1245, 'colonia': 'impulsora', 'delegacion': 'neza', 'Estado': {'clave': 15, 'nombre_corto': 'EdoMex', 'nombre': 'Estado de México'}}}
2500.5
15000.5
ESTADO DE MÉXICO